<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201860189353-ce23pgrp6e5efmqvj1sbfkoe84vhq7qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201860189353-ce23pgrp6e5efmqvj1sbfkoe84vhq7qf</string>
	<key>API_KEY</key>
	<string>AIzaSyB6h4CPsC0e1Mf8OJs9_5ShyHIHn34MZNs</string>
	<key>GCM_SENDER_ID</key>
	<string>201860189353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fares.carapp</string>
	<key>PROJECT_ID</key>
	<string>photoapp-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201860189353:ios:edd646cebb9aac52dcedb8</string>
	<key>DATABASE_URL</key>
	<string>https://photoapp-2023-default-rtdb.firebaseio.com</string>
</dict>
</plist>